<div>
  <button class="btn btn-primary" ng-click="redirectTo()">Back</button>
  <button class="btn btn-primary" ng-click="fill()">
    Autofill
  </button>
  <button class="btn btn-primary" ng-click="clear()">
    Clear
  </button>
  <div class="form-group">
    <label for="title">Zippy Title</label>
    <input type="text" id="title" ng-model="zippy.title" class="form-control" />
  </div>
  <div class="form-group">
    <label for="content">Zippy Content</label>
    <input
      type="text"
      id="content"
      ng-model="zippy.content"
      class="form-control"
    />
  </div>
  <zippy title="{{ zippy.title }}">
    {{ zippy.content }}
  </zippy>
</div>
